<div class="container ">

  <div class="row my-12 w-[90%] flex flex-col justify-center items-center mx-auto">

    <img class="mb-12" src="assets/images/not-found.png" alt=""/>
    <h1 class="leading-9 mb-6 mt-3">Ouuuuupps ! Page not found.</h1>
    <p class="mb-5">We are sorry! The page you request can not be found.</p>
    <p class="mb-8">Please go back to the homepage.</p>
    <a routerLink="/home" class="no-underline bg-blue py-4 px-5 flex flex-row justify-center gap-4 items-center rounded-xl">
      <div class="text-white font-semibold">Go Home</div>
      <div>
        <img src="assets/images/house1.png" alt=""/>
      </div>
    </a>

  </div>

</div>


