<div class="container">
  <div class="row flex flex-col justify-center">

    <div class="row rounded-xl px-6 py-3 mt-4 flex flex-row justify-between items-center w-[95%] mx-auto" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;">
      <div class="col-span-4 items-center flex flex-col">
        <h1 class="mb-5">Salut Oumaima Behja  <img alt="" src="assets/images/waving-hand.png" width="30" height="30"> </h1>
        <h3 class="mb-5">Bienvenue sur votre tableau de bord dédié !</h3>
        <p class="space-x-2 leading-9 text-center">Accédez facilement aux fonctionnalités pour gérer les offres d'emploi, examiner les candidatures, gérer les utilisateurs et définir les autorisations pour une gestion optimale.</p>
      </div>
      <div class="col-span-8" style="background-image: url('/assets/images/bg-dash1.jpg'); background-position: center; background-repeat: no-repeat;background-size: contain; width: 1000px; height: 300px;">

      </div>
    </div>

  </div>
</div>

