<section
  class="w-[1167px] flex flex-col items-center justify-start pt-[65px] px-5 pb-[133px] box-border max-w-full shrink-0 text-center text-37xl text-gray-100 font-sofia-pro lg:pb-[86px] lg:box-border mq750:pb-14 mq750:box-border">
  <div class="flex flex-col items-center justify-start pt-0 px-0 pb-[35px] box-border gap-[14px_0px] max-w-full">
    <h1 class="m-0 w-[853px] relative text-inherit tracking-[-0.05em] leading-[72px] font-bold font-inherit inline-block mq450:text-15xl mq450:leading-[43px] mq1050:text-26xl mq1050:leading-[58px]">
      <span>Des Offres d'Emploi aux Candidats Idéaux, Tout Est à Portée de </span>
      <span class="text-blue">Clic</span>
    </h1>
    <div class="flex flex-row items-start justify-start py-0 pr-[23px] pl-[30px] box-border max-w-full text-xl text-dimgray">
      <div class="w-[800px] relative tracking-[-0.02em] leading-[32px] inline-block shrink-0 max-w-full mq450:text-base mq450:leading-[26px]">
        Le Carrefour où les Brillants Talents Se Connectent aux Opportunités les Plus Prometteuses pour Forger un Avenir Professionnel Florissant
      </div>
    </div>
  </div>
  <div class="w-[346px] flex flex-row flex-wrap items-start justify-start gap-[0px_34px] max-w-full mq450:gap-[0px_34px]">
    <button class="cursor-pointer [border:none] p-[13px] bg-blue flex-1 rounded-xl overflow-hidden flex flex-row items-center justify-center box-border min-w-[107px] whitespace-nowrap hover:bg-blueviolet">
      <b class="w-[130px] relative text-base tracking-[-0.02em] leading-[150%] inline-block font-sofia-pro text-white text-center shrink-0">Découvrir les Offres</b>
    </button>
  </div>
  <img
    class="self-stretch h-[769px] relative max-w-full overflow-hidden shrink-0 object-cover z-[1]"
    alt=""
    src="/assets/images/header.png"
  />
</section>
