<footer class="container font-sofia-pro row py-28 px-3  bg-darkslateblue text-white">
  <div class="row flex justify-center items-center gap-60">
    <div class="col-span-3 flex-col w-[400px] ">
      <p class="pb-4 font-bold">C'est quoi Career Bridge ?</p>
      <p class="pb-2">
        Deupload is a cloud storage services based on Blockchain
      </p>
      <p class="pb-2">
        and Web3 technology, designed to help teams collaborate
      </p>
      <p class="">
        and file sharing in a completely private like never
      </p>
    </div>
    <div class="col-span-3 flex-col">
      <div class="text-xl font-bold pb-4">Community</div>
      <div class="flex flex-col items-start justify-start gap-[8px_0px]">
        <a href="#" class="pb-2 no-underline text-white">Guide</a>
        <a href="#" class="pb-2 no-underline text-white">Blog</a>
        <a href="#" class="pb-2 no-underline text-white">FAQs</a>
      </div>
    </div>
    <div class="col-span-3 flex-col">
      <div class="text-xl font-bold pb-4">Products</div>
      <div class="flex flex-col items-start justify-start gap-[8px_0px]">
        <a href="#" class="pb-2 text-white no-underline">Features</a>
        <a href="#" class="pb-2 text-white no-underline">Solutions</a>
        <a href="#" class="pb-2 text-white no-underline">Pricing</a>

      </div>
    </div>
    <div class="col-span-3 flex-col">
      <div class="text-xl font-bold pb-4">Products</div>
      <div class="flex flex-col items-start justify-start gap-[8px_0px]">
        <a href="#" class="pb-2 text-white no-underline">Features</a>
        <a href="#" class="pb-2 text-white no-underline">Solutions</a>
        <a href="#" class="pb-2 text-white no-underline">Pricing</a>

      </div>
    </div>
  </div>

  <hr class="text-white bg-white border-b-2 w-[80%] mx-auto my-10 border-black">

  <div class="row flex justify-around gap-40 items-center">
    <div class="col-span-6">
      © 2024 Career Bridge. Tous les droits sont résérvés
    </div>
    <div class="col-span-6 flex gap-5">
      <a href="#"><i class='bx bxl-facebook-circle text-6xl text-indigo-200'></i></a>
      <a href="#"><i class='bx bxl-twitter text-6xl text-cyan-400'></i></a>
      <a href="#"><i class='bx bxl-whatsapp text-6xl text-emerald-300'></i></a>
      <a href="#"><i class='bx bxl-linkedin-square text-6xl text-indigo-400'></i></a>
      <a href="#"><i class='bx bxl-youtube text-6xl text-red-700'></i></a>
    </div>
  </div>

</footer>
