<section class="self-stretch flex flex-row items-start justify-start pt-0 px-0 pb-[100px] box-border max-w-full text-left text-base text-dimgray font-sofia-pro mq750:pb-[65px] mq750:box-border">
  <div class="flex-1 flex flex-row items-start justify-start relative max-w-full">
    <div class="w-[640px] !m-[0] absolute right-[157px] bottom-[-526px] rounded-3xl bg-white shadow-[0px_4px_32px_rgba(0,_0,_0,_0.05)] flex flex-col items-end justify-start pt-12 px-[47px] pb-[57px] box-border gap-[24px_0px] max-w-full z-[1]">
      <div class="w-[640px] h-[850px] relative rounded-3xl bg-white shadow-[0px_4px_32px_rgba(0,_0,_0,_0.05)] hidden max-w-full"></div>
      <div class="self-stretch flex flex-row items-start justify-start py-0 px-px box-border max-w-full">
        <div class="flex-1 flex flex-col items-start justify-start gap-[4px_0px] max-w-full">
          <b class="relative tracking-[-0.02em] leading-[24px] z-[2]">Nom Complet</b>
          <input class="w-full [border:none] [outline:none] bg-neutral-200 self-stretch h-12 rounded-xl flex flex-row items-start justify-start py-3 px-[25px] box-border font-sofia-pro text-base text-lightslategray min-w-[250px]"
            placeholder="BEHJA Oumaima"
            type="text"/>
        </div>
      </div>
      <div class="self-stretch flex flex-row items-start justify-start py-0 px-px box-border max-w-full">
        <div class="flex-1 flex flex-col items-start justify-start gap-[4px_0px] max-w-full">
          <b class="relative tracking-[-0.02em] leading-[24px] z-[2]">Adresse Email</b>
          <input
            class="w-full [border:none] [outline:none] bg-neutral-200 self-stretch h-12 rounded-xl flex flex-row items-start justify-start py-3 px-6 box-border font-sofia-pro text-base text-lightslategray min-w-[250px] z-[2]"
            placeholder="vitalik@example.com"
            type="email"/>
        </div>
      </div>
      <div class="self-stretch flex flex-col items-start justify-start gap-[4px_0px]">
        <b class="relative tracking-[-0.02em] leading-[24px] z-[2]">Entreprise (optionnel)</b>
        <input class="w-full [border:none] [outline:none] bg-neutral-200 self-stretch h-12 rounded-xl flex flex-row items-start justify-start py-3 px-6 box-border font-sofia-pro text-base text-lightslategray min-w-[250px]"
          placeholder="One Solution LLC"
          type="text"/>
      </div>
      <div class="self-stretch flex flex-row items-start justify-start py-0 px-px box-border max-w-full">
        <div class="flex-1 flex flex-col items-start justify-start gap-[4px_0px] max-w-full">
          <b class="relative tracking-[-0.02em] leading-[24px] z-[2]">Numèro de Téléphone (optionnel)</b>
          <input
            class="w-full [border:none] [outline:none] bg-neutral-200 self-stretch h-12 rounded-xl flex flex-row items-start justify-start py-3 px-[23px] box-border font-sofia-pro text-base text-lightslategray min-w-[250px] z-[2]"
            placeholder="+212 6 84 48 84 84"
            type="text"/>
        </div>
      </div>
      <div class="self-stretch flex flex-row items-start justify-start py-0 px-px box-border max-w-full">
        <div class="flex-1 flex flex-col items-start justify-start gap-[4px_0px] max-w-full">
          <b class="relative tracking-[-0.02em] leading-[24px] z-[2]">Sujet</b>
          <input
            class="w-full [border:none] [outline:none] bg-neutral-200 self-stretch h-12 rounded-xl flex flex-row items-start justify-start py-3 px-6 box-border font-sofia-pro text-base text-lightslategray min-w-[250px] z-[2]"
            placeholder="I want to ask something"
            type="text"
          />
        </div>
      </div>
      <div class="self-stretch flex flex-row items-start justify-start pt-0 pb-[5px] pr-px pl-0 box-border max-w-full">
        <div class="flex-1 flex flex-col items-start justify-start gap-[4px_0px] max-w-full">
          <b class="relative tracking-[-0.02em] leading-[24px] z-[2]">Message</b>
          <textarea
            class="[border:none] bg-neutral-200 h-[140px] w-auto [outline:none] self-stretch rounded-xl flex flex-row items-start justify-start py-3 px-6 box-border font-sofia-pro text-base text-lightslategray z-[2]"
            placeholder="Hi there, I would like to..."
            rows="{7}"
            cols="{17}">
          </textarea>
        </div>
      </div>
      <div class="w-44 flex flex-row items-start justify-start py-0 px-px box-border">
        <button class="cursor-pointer [border:none] py-[14.5px] px-[30.5px] bg-blue flex-1 rounded-xl overflow-hidden flex flex-row items-start justify-start z-[2] hover:bg-blueviolet">
          <b class="flex-1 relative text-base tracking-[-0.02em] leading-[19px] font-sofia-pro text-white text-center">Envoyer</b>
        </button>
      </div>
    </div>
    <div class="flex-1 bg-blue flex flex-col items-start justify-end pt-[266px] px-[158px] pb-[109px] box-border gap-[4px_0px] max-w-full text-[64px] text-white mq450:pl-5 mq450:pr-5 mq450:box-border mq750:pt-[173px] mq750:px-[79px] mq750:pb-[71px] mq750:box-border">
      <div class="w-[1440px] h-[478px] relative bg-blue hidden max-w-full"></div>
      <h1 class="m-0 w-[402px] h-[66px] relative text-inherit tracking-[-0.05em] leading-[72px] font-bold font-inherit inline-block shrink-0 max-w-full z-[1] mq450:text-19xl mq450:leading-[43px] mq1050:text-[51px] mq1050:leading-[58px]">
        Prenez contact.
      </h1>
      <div class="w-[448px] relative text-xl tracking-[-0.02em] leading-[32px] text-lavender inline-block max-w-full z-[1] mq450:text-base mq450:leading-[26px]">
        Notre équipe serait ravie de vous entendre !
      </div>
    </div>
  </div>
</section>
<div class="w-[747px] flex flex-row items-start justify-center pt-0 px-5 pb-[228px] box-border max-w-full mq750:pb-[213px] mq750:box-border">
  <div class="w-[433px] flex flex-col items-start justify-start gap-[35px_0px] max-w-full mq450:gap-[17px_0px]">
    <div class="self-stretch flex flex-row flex-wrap items-end justify-start gap-[0px_16px] max-w-full">
      <button class="cursor-pointer [border:none] p-0 bg-[transparent] w-16 flex flex-row items-start justify-start">
        <div class="h-16 flex-1 relative">
          <div class="absolute top-[0px] left-[0px] rounded-[50%] bg-blue w-full h-full"></div>
          <img class="absolute top-[18px] left-[16px] w-8 h-7 overflow-hidden z-[1]" alt=""
            src="/assets/images/map-location-dot%201.png"/>
        </div>
      </button>
      <div class="flex-1 flex flex-col items-start justify-start pt-0 px-0 pb-[7px] box-border min-w-[229px] max-w-full">
        <div class="self-stretch flex flex-col items-start justify-start gap-[1px_0px]">
          <b class="relative tracking-[-0.05em] leading-[24px] mq450:text-base mq450:leading-[19px]">Adresse</b>
          <div class="relative text-base tracking-[-0.02em] leading-[24px] text-dimgray">
            17, Bd Abdelmoumen, Casablanca, Maroc
          </div>
        </div>
      </div>
    </div>
    <div class="self-stretch flex flex-row flex-wrap items-end justify-start gap-[0px_17px] max-w-full">
      <button class="cursor-pointer [border:none] p-0 bg-[transparent] w-16 flex flex-row items-start justify-start">
        <div class="h-16 flex-1 relative">
          <div class="absolute top-[0px] left-[0px] rounded-[50%] bg-blue w-full h-full"></div>
          <img class="absolute top-[18px] left-[18px] w-7 h-7 overflow-hidden z-[1]" alt=""
            src="/assets/images/envelope-open-text%201.png"/>
        </div>
      </button>
      <div class="flex-1 flex flex-col items-start justify-start pt-0 px-0 pb-[7px] box-border min-w-[226px] max-w-full">
        <div class="self-stretch flex flex-col items-start justify-start gap-[1px_0px]">
          <b class="relative tracking-[-0.05em] leading-[24px] mq450:text-base mq450:leading-[19px]">Email</b>
          <div class="self-stretch relative text-base tracking-[-0.02em] leading-[24px] text-dimgray whitespace-nowrap">
            Contact&#64;CareerBridge.com
          </div>
        </div>
      </div>
    </div>
    <div class="self-stretch flex flex-row flex-wrap items-end justify-start gap-[0px_16px] max-w-full">
      <button class="cursor-pointer [border:none] p-0 bg-[transparent] w-16 flex flex-row items-start justify-start">
        <div class="h-16 flex-1 relative">
          <div class="absolute top-[0px] left-[0px] rounded-[50%] bg-blue w-full h-full"></div>
          <img class="absolute top-[18px] left-[18px] w-7 h-7 overflow-hidden z-[1]" alt=""
            src="/assets/images/phone-flip%201.png"
          />
        </div>
      </button>
      <div class="flex-1 flex flex-col items-start justify-start gap-[1px_0px] min-w-[226px] max-w-full">
        <b class="relative tracking-[-0.05em] leading-[24px] mq450:text-base mq450:leading-[19px]">Téléphone</b>
        <div class="self-stretch flex flex-row items-start justify-start py-0 pr-0 pl-px box-border max-w-full text-base text-dimgray">
          <div class="flex-1 relative tracking-[-0.02em] leading-[24px] inline-block whitespace-nowrap max-w-full">
            +212 5-80031288
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="self-stretch bg-lightcyan flex flex-col items-center justify-start py-28 px-5 box-border gap-[52px_0px] max-w-full text-left text-29xl text-gray-200 font-sofia-pro mq450:pt-[47px] mq450:pb-[47px] mq450:box-border mq750:gap-[26px_0px] mq1050:pt-[73px] mq1050:pb-[73px] mq1050:box-border">
  <div class="w-[1440px] h-[779px] relative bg-lightcyan hidden max-w-full"></div>
  <div class="w-[1126px] flex flex-col items-start justify-start max-w-full">
    <h1 class="m-0 self-stretch relative text-inherit tracking-[-0.04em] leading-[64px] font-bold font-inherit z-[1] mq450:text-10xl mq450:leading-[38px] mq1050:text-19xl mq1050:leading-[51px]">
      Contactez-nous
    </h1>
    <div class="w-[600px] relative text-lg tracking-[-0.02em] leading-[32px] text-dimgray inline-block max-w-full z-[2]">
      Entrez en contact et faites-nous savoir comment nous pouvons vous aider.
    </div>
  </div>
  <div class="w-[1125px] flex flex-col items-start justify-start gap-[63px_0px] max-w-full text-5xl lg:gap-[31px_0px] mq750:gap-[16px_0px]">
    <div class="self-stretch flex flex-row flex-wrap items-start justify-start gap-[0px_24px] max-w-full">
      <div class="flex-1 rounded-3xl bg-white shadow-[0px_4px_24px_rgba(0,_0,_0,_0.02)] flex flex-col items-start justify-start p-8 box-border gap-[24px_0px] min-w-[269px] max-w-full z-[1]">
        <div class="w-[359px] h-[260px] relative rounded-3xl bg-white shadow-[0px_4px_24px_rgba(0,_0,_0,_0.02)] hidden max-w-full"></div>
        <div class="w-[289px] flex flex-row items-start justify-start gap-[0px_22px]">
          <div class="w-16 flex flex-row items-start justify-start">
            <div class="h-16 flex-1 relative">
              <div class="absolute top-[0px] left-[0px] rounded-[50%] bg-lavender-100 w-full h-full z-[2]"></div>
              <img class="absolute top-[18px] left-[16px] w-8 h-7 overflow-hidden z-[3]" alt="" src="/assets/images/store%201.png"/>
            </div>
          </div>
          <div class="flex-1 flex flex-col items-start justify-start pt-[17px] px-0 pb-0">
            <h3 class="m-0 self-stretch relative text-inherit tracking-[-0.03em] leading-[150%] font-bold font-inherit z-[2] mq450:text-lgi mq450:leading-[29px]">
              Entreprises
            </h3>
          </div>
        </div>
        <div class="self-stretch relative text-lg tracking-[-0.02em] leading-[24px] text-lightslategray z-[2]">
          Nous serions enchantés d'échanger sur les moyens par lesquels les utilisateurs peuvent discuter avec des entreprises.
        </div>
      </div>
      <div class="flex-1 rounded-3xl bg-white shadow-[0px_4px_24px_rgba(0,_0,_0,_0.02)] flex flex-col items-start justify-start p-8 box-border gap-[24px_0px] min-w-[269px] max-w-full z-[1]">
        <div class="w-[359px] h-[260px] relative rounded-3xl bg-white shadow-[0px_4px_24px_rgba(0,_0,_0,_0.02)] hidden max-w-full"></div>
        <div class="w-72 flex flex-row items-start justify-start gap-[0px_20px]">
          <button class="cursor-pointer [border:none] p-0 bg-[transparent] w-16 flex flex-row items-start justify-start">
            <div class="h-16 flex-1 relative">
              <div class="absolute top-[0px] left-[0px] rounded-[50%] bg-lavender-100 w-full h-full z-[2]"></div>
              <img class="absolute top-[16px] left-[17px] w-[29px] h-8 overflow-hidden z-[3]" alt="" src="/assets/images/user-headset%201.png"/>
            </div>
          </button>
          <div class="flex-1 flex flex-col items-start justify-start pt-[17px] px-0 pb-0">
            <h3 class="m-0 self-stretch relative text-inherit tracking-[-0.03em] leading-[150%] font-bold font-inherit z-[2] mq450:text-lgi mq450:leading-[29px]">
              Aide & Support
            </h3>
          </div>
        </div>
        <div class="self-stretch relative text-lg tracking-[-0.02em] leading-[24px] text-lightslategray z-[2]">
          Entrez en contact avec nous et faites-nous savoir comment nous pouvons vous aider.
        </div>
      </div>
      <div class="flex-1 rounded-3xl bg-white shadow-[0px_4px_24px_rgba(0,_0,_0,_0.02)] flex flex-col items-start justify-start p-8 box-border gap-[24px_0px] min-w-[269px] max-w-full z-[1]">
        <div class="w-[359px] h-[260px] relative rounded-3xl bg-white shadow-[0px_4px_24px_rgba(0,_0,_0,_0.02)] hidden max-w-full"></div>
        <div class="self-stretch flex flex-row items-start justify-start gap-[0px_24px] mq450:flex-wrap">
          <button class="cursor-pointer [border:none] p-0 bg-[transparent] w-16 flex flex-row items-start justify-start">
            <div class="h-16 flex-1 relative">
              <div class="absolute top-[0px] left-[0px] rounded-[50%] bg-lavender-100 w-full h-full z-[2]"></div>
              <img class="absolute top-[16px] left-[16px] w-8 h-8 overflow-hidden z-[3]" alt=""
                src="/assets/images/newspaper%201.png"
              />
            </div>
          </button>
          <div class="flex-1 flex flex-col items-start justify-start pt-[17px] px-0 pb-0 box-border min-w-[131px]">
            <h3 class="m-0 self-stretch relative text-inherit tracking-[-0.03em] leading-[150%] font-bold font-inherit z-[2] mq450:text-lgi mq450:leading-[29px]">
              Médias & Presse
            </h3>
          </div>
        </div>
        <div class="self-stretch relative text-base tracking-[-0.02em] leading-[24px] text-lightslategray z-[2]">
          Obtenez les actualités Career Bridge, les informations sur l'entreprise et les ressources médiatiques."
        </div>
      </div>
    </div>
    <div class="w-[1092px] flex flex-row flex-wrap items-start justify-start gap-[0px_34px] max-w-full text-xl mq750:gap-[0px_17px]">
      <div class="flex-1 flex flex-col items-start justify-start gap-[10px_0px] min-w-[344px] max-w-full mq450:min-w-full">
        <div class="self-stretch flex flex-row items-start justify-start gap-[0px_8px] max-w-full mq450:flex-wrap">
          <div class="h-6 w-6 relative">
            <div class="absolute top-[0px] left-[0px] rounded-[50%] bg-blue w-full h-full z-[1]"></div>
            <img class="absolute top-[6px] left-[4px] w-4 h-3 overflow-hidden z-[2]" alt="" src="/assets/images/discord%201.png"/>
          </div>
          <div class="flex-1 flex flex-col items-start justify-start pt-px px-0 pb-0 box-border min-w-[323px] max-w-full">
            <b class="self-stretch relative tracking-[-0.04em] leading-[24px] z-[1] mq450:text-base mq450:leading-[19px]">
              Rejoignez-nous sur Discord
            </b>
          </div>
        </div>
        <div class="w-[470px] flex flex-row items-start justify-start py-0 px-8 box-border max-w-full text-base text-dimgray">
          <div class="flex-1 relative tracking-[-0.02em] leading-[24px] inline-block max-w-full z-[1]">
            Si vous avez des questions techniques, discutez
            en direct avec les développeurs sur le serveur Discord officiel de Career Bridge.
          </div>
        </div>
      </div>
      <div class="flex-1 flex flex-col items-start justify-start gap-[9px_0px] min-w-[344px] max-w-full mq450:min-w-full">
        <div class="self-stretch flex flex-row items-start justify-start gap-[0px_8px] max-w-full mq450:flex-wrap">
          <div class="h-6 w-6 relative">
            <div class="absolute top-[0px] left-[0px] rounded-[50%] bg-blue w-full h-full z-[1]"></div>
            <img class="absolute top-[4px] left-[4px] w-4 h-4 overflow-hidden z-[2]" alt="" src="/assets/images/telegram%201.png"/>
          </div>
          <div class="flex-1 flex flex-col items-start justify-start pt-0.5 px-0 pb-0 box-border min-w-[323px] max-w-full">
            <b class="self-stretch relative tracking-[-0.04em] leading-[24px] z-[1] mq450:text-base mq450:leading-[19px]">
              Communications générales
            </b>
          </div>
        </div>
        <div class="w-[470px] flex flex-row items-start justify-start py-0 px-8 box-border max-w-full text-base text-dimgray">
          <div class="flex-1 relative tracking-[-0.02em] leading-[24px] inline-block max-w-full z-[1]">
            Pour des questions générales, y compris les opportunités de partenariat, veuillez envoyer un email à info&#64;Careerbridge.com
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="self-stretch flex flex-row items-start justify-start pt-0 px-0 box-border max-w-full text-left text-lg text-dimgray font-sofia-pro lg:pb-[87px] lg:box-border mq750:pb-[57px] mq750:box-border">
  <div class="flex-1 bg-white flex flex-col items-center justify-start pt-28 pb-[110px] pr-5 pl-[21px] box-border gap-[79px_0px] max-w-full lg:gap-[39px_0px] lg:pt-[73px] lg:pb-[71px] lg:box-border mq750:gap-[20px_0px] mq750:pt-[47px] mq750:pb-[46px] mq750:box-border">
    <div class="w-[1440px] h-[1073px] relative bg-white hidden max-w-full"></div>
    <div class="w-[1409px] flex flex-row items-start justify-start gap-[0px_80px] max-w-full lg:gap-[0px_40px] mq750:gap-[0px_20px] mq1050:flex-wrap">
      <img class="h-auto flex-1 relative max-w-full overflow-hidden min-w-[366px] z-[1] mq450:min-w-full" alt="" src="/assets/images/contact.png"/>
      <div class="w-[600px] flex flex-col items-start justify-start pt-9 px-0 pb-0 box-border min-w-[484px] max-w-full mq750:min-w-full mq1050:flex-1">
        <div class="self-stretch flex flex-col items-start justify-start gap-[40.5px_0px] max-w-full mq750:gap-[20px_0px]">
          <div class="self-stretch flex flex-row items-start justify-start py-0 pr-0 pl-px box-border max-w-full text-29xl text-gray-200">
            <h1 class="m-0 flex-1 relative text-inherit tracking-[-0.04em] leading-[64px] font-bold font-inherit inline-block max-w-full z-[1] mq450:text-10xl mq450:leading-[38px] mq1050:text-19xl mq1050:leading-[51px]">
              Nous travaillons à l'échelle mondiale.
            </h1>
          </div>
          <div class="w-[452px] flex flex-row items-start justify-start py-0 px-px box-border max-w-full">
            <div class="flex-1 flex flex-row items-start justify-start gap-[0px_24px] max-w-full mq450:flex-wrap">
              <div class="flex-1 flex flex-col items-start justify-start pt-0.5 px-0 pb-0 box-border min-w-[142px]">
                <div class="self-stretch relative tracking-[-0.02em] leading-[32px] z-[1]">
                  <p class="m-0">
                    <b>London</b>
                  </p>
                  <p class="m-0">508 Bridle Avenue</p>
                  <p class="m-0">Newnan, GA</p>
                  <p class="m-0">30263</p>
                </div>
              </div>
              <div class="flex-1 relative tracking-[-0.02em] leading-[32px] inline-block min-w-[135px] z-[1]">
                <p class="m-0">
                  <b>New York</b>
                </p>
                <p class="m-0">508 Bridle Avenue</p>
                <p class="m-0">Newnan, GA</p>
                <p class="m-0">30263</p>
              </div>
            </div>
          </div>
          <div class="w-[450px] flex flex-row items-start justify-start gap-[0px_24px] max-w-full mq450:flex-wrap">
            <div class="flex-1 flex flex-col items-start justify-start pt-0.5 px-0 pb-0 box-border min-w-[142px]">
              <div class="self-stretch relative tracking-[-0.02em] leading-[32px] z-[1]">
                <p class="m-0">
                  <b>Singapore</b>
                </p>
                <p class="m-0">508 Bridle Avenue</p>
                <p class="m-0">Newnan, GA</p>
                <p class="m-0">30263</p>
              </div>
            </div>
            <div class="flex-1 relative tracking-[-0.02em] leading-[32px] inline-block min-w-[135px] z-[1]">
              <p class="m-0">
                <b>Paris</b>
              </p>
              <p class="m-0">508 Bridle Avenue</p>
              <p class="m-0">Newnan, GA</p>
              <p class="m-0">30263</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-[1409px] rounded-3xl bg-neutral-200 flex flex-row flex-wrap items-end justify-start py-[59px] pr-[58px] pl-[47px] box-border gap-[0px_65px] max-w-full z-[1] text-13xl text-gray-200 lg:gap-[0px_32px] lg:pl-[23px] lg:pr-[29px] lg:box-border mq750:gap-[0px_16px]">
      <div class="h-[230px] w-[1409px] relative rounded-3xl bg-neutral-200 hidden max-w-full"></div>
      <div class="flex-1 flex flex-col items-start justify-start max-w-full">
        <h1 class="m-0 self-stretch h-[57px] relative text-inherit tracking-[-0.04em] leading-[64px] font-bold font-inherit inline-block shrink-0 z-[2] mq450:text-lgi mq450:leading-[38px] mq1050:text-7xl mq1050:leading-[51px]">
          Obtenez des conseils pour améliorer votre travail.
        </h1>
        <div class="self-stretch flex flex-row items-start justify-start py-0 px-0.5 box-border max-w-full text-base text-lightslategray">
          <div class="h-[55px] flex-1 relative tracking-[-0.02em] leading-[24px] inline-block max-w-full z-[3]">
            Recevez des conseils pour améliorer votre travail. Restez informé de nos derniers tutoriels, discussions techniques, événements, articles de blog et lancements de produits en vous inscrivant à notre newsletter.
          </div>
        </div>
      </div>
      <div class="w-[444px] flex flex-col items-start justify-start pt-0 px-0 pb-[15px] box-border max-w-full text-base text-lightslategray">
        <div class="self-stretch flex flex-col items-start justify-start gap-[6px_0px] max-w-full">
          <div class="self-stretch rounded-xl bg-white box-border flex flex-row items-start justify-start py-[5px] pr-1 pl-[25px] gap-[41px] max-w-full z-[2] border-[1px] border-solid border-gainsboro mq450:flex-wrap mq450:gap-[20px]">
            <div class="h-12 w-[444px] relative rounded-xl bg-white box-border hidden max-w-full border-[1px] border-solid border-gainsboro"></div>
            <div class="flex-1 flex flex-col items-start justify-start pt-[7px] px-0 pb-0  min-w-[166px]">
              <input class="self-stretch border-white relative tracking-[-0.03em] leading-[24px] z-[1]" placeholder="Entrer votre email"/>
            </div>
            <button
              class="cursor-pointer [border:none] py-[7px] px-0 bg-blue w-[116px] rounded-xl overflow-hidden shrink-0 flex flex-row items-start justify-start box-border whitespace-nowrap z-[1] hover:bg-blueviolet"
            >
              <b
                class="ml-[-16.5px] w-[149px] relative text-base tracking-[-0.02em] leading-[150%] inline-block font-sofia-pro text-white text-center shrink-0"
              >Sign Up</b
              >
            </button>
          </div>
          <div
            class="self-stretch h-[27px] relative text-sm tracking-[-0.03em] leading-[32px] text-center inline-block shrink-0 z-[2]"
          >
            <span>You can unsubscribe at any time. Read our </span>
            <span class="text-blue">privacy policy</span>
            <span>.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
