<div class="container font-sofia-pro">

  <div class="row flex flex-col justify-center items-center mb-6 bg-darkslateblue text-white">
      <div class="w-[1070px] text-[28px] font-bold text-center py-9" >
        <h1 class="">
          Building the world’s best IPFS Storage powered by decentralized
          network.
        </h1>
      </div>
      <div class="font-medium w-[850px] text-center mb-9">
        <p class="mb-3">
          We make decentralized file storage on IPFS as simple as using
          the tools you love and interoperable
        </p>
        <p>
          via API with developer-friendly documentation.
        </p>
      </div>
      <div class="my-9">
        <img src="assets/images/about.png" alt="" class="w-[1600px] h-auto"/>
      </div>

  </div>

  <div class="row flex justify-center items-center gap-14 w-[90%] mx-auto my-12">
    <div class="col-span-6 flex flex-col w-[800px]">
      <h1 class="font-bold text-[50px] text-black mb-3">
        Our mission is to protect human knowledge through freedom of
        information.
      </h1>
      <p class="leading-8">
        Our goal is to make decentralized storage accessible and
        easy to use for everyone. We're doing this by building a
        scalable, secure and performant access layer to
        decentralized storage networks, with a seamless user
        experience interface.
      </p>

    </div>

    <div class="col-span-6">
      <img src="assets/images/pic1.png" alt="" width="650" />
    </div>

  </div>

  <div class="row mb-16 flex flex-row  justify-center items-center mx-auto w-[90%] gap-[24px] text-29xl text-white ">
    <div class="flex-1 rounded-xl bg-blue flex flex-col items-start justify-start py-12 pr-[54px] pl-8 box-border gap-[24px_0px] w-[400px] mq450:pr-5 mq450:box-border">
      <div class="w-[300px] h-[290px] relative rounded-xl bg-blue hidden"></div>
        <button class="cursor-pointer [border:none] p-0 bg-[transparent] w-16 flex flex-row items-start justify-start">
          <div class="h-16 flex-1 relative">
            <div class="absolute top-[0px] left-[0px] rounded-[50%] bg-white w-full h-full z-[1]"></div>
            <img class="absolute top-[16px] left-[19px] w-[26px] h-8 overflow-hidden z-[2]" alt="" src="assets/images/pic2.png"/>
          </div>
        </button>
        <div class="self-stretch flex flex-col items-start justify-start gap-[3px_0px]">
          <div class="self-stretch relative tracking-[-0.04em] leading-[48px] font-light z-[1] mq450:text-10xl mq450:leading-[29px] mq1050:text-19xl mq1050:leading-[38px]">
            500M+
          </div>
          <div class="self-stretch relative text-base tracking-[-0.04em] leading-[18px] z-[1]">
            IPFS pinned
          </div>
        </div>
    </div>
    <div class="flex-1 rounded-xl bg-darkturquoise-200 flex flex-col items-start justify-start py-12 pr-[54px] pl-8 box-border gap-[24px_0px] w-[400px] mq450:pr-5 mq450:box-border">
      <div class="w-[264px] h-[254px] relative rounded-xl bg-darkturquoise-100 hidden"></div>
        <div class="w-16 flex flex-row items-start justify-start">
          <div class="h-16 flex-1 relative">
            <div class="absolute top-[0px] left-[0px] rounded-[50%] bg-white w-full h-full z-[1]"></div>
            <img class="absolute top-[16px] left-[16px] w-8 h-8 overflow-hidden z-[2]" alt="" src="assets/images/pic3.png"/>
          </div>
        </div>
        <div class="self-stretch flex flex-col items-start justify-start gap-[3px_0px]">
          <div class="self-stretch relative tracking-[-0.04em] leading-[48px] font-light z-[1] mq450:text-10xl mq450:leading-[29px] mq1050:text-19xl mq1050:leading-[38px]">
            100TB+
          </div>
          <div class="self-stretch relative text-base tracking-[-0.04em] leading-[18px] z-[1]">
            Data in storage
          </div>
        </div>
    </div>
    <div class="flex-1 rounded-xl bg-blue flex flex-col items-start justify-start py-12 pr-[54px] pl-8 box-border gap-[24px_0px] w-[400px] mq450:pr-5 mq450:box-border">
      <div class="w-[264px] h-[254px] relative rounded-xl bg-blue hidden"></div>
      <button class="cursor-pointer [border:none] p-0 bg-[transparent] w-16 flex flex-row items-start justify-start">
        <div class="h-16 flex-1 relative">
          <div class="absolute top-[0px] left-[0px] rounded-[50%] bg-white w-full h-full z-[1]"></div>
          <img class="absolute top-[16px] left-[11px] w-[41px] h-8 overflow-hidden z-[2]" alt="" src="assets/images/pic4.png"/>
        </div>
      </button>
      <div class="self-stretch flex flex-col items-start justify-start gap-[3px_0px]">
        <div class="self-stretch relative tracking-[-0.04em] leading-[48px] font-light z-[1] mq450:text-10xl mq450:leading-[29px] mq1050:text-19xl mq1050:leading-[38px]">
          200k+
        </div>
        <div class="self-stretch relative text-base tracking-[-0.04em] leading-[18px] z-[1]">
          Request per day
        </div>
      </div>
    </div>
    <div class="flex-1 rounded-xl bg-blue flex flex-col items-start justify-start py-12 pr-[54px] pl-8 box-border gap-[24px_0px] w-[400px] mq450:pr-5 mq450:box-border">
        <div class="w-[264px] h-[254px] relative rounded-xl bg-blue hidden"></div>
        <div class="w-16 flex flex-row items-start justify-start">
          <div class="h-16 flex-1 relative"><div class="absolute top-[0px] left-[0px] rounded-[50%] bg-white w-full h-full z-[1]"></div>
            <img class="absolute top-[17px] left-[14px] w-9 h-[30px] overflow-hidden z-[2]" alt="" src="assets/images/pic5.png"/>
          </div>
        </div>
        <div class="self-stretch flex flex-col items-start justify-start gap-[3px_0px]">
          <div class="self-stretch relative tracking-[-0.04em] leading-[48px] font-light z-[1] mq450:text-10xl mq450:leading-[29px] mq1050:text-19xl mq1050:leading-[38px]">
            50k+
          </div>
          <div class="self-stretch relative text-base tracking-[-0.04em] leading-[18px] z-[1]">
            Happy users
          </div>
        </div>
      </div>
  </div>

  <div class="row flex flex-row justify-center items-center gap-14 w-[80%] mx-auto my-24">
    <div class="col-span-6 w-full flex justify-center">
      <img src="assets/images/story.png" alt=""/>
    </div>
    <div class="col-span-6 flex flex-col justify-center">
      <h1 class="leading-[64px] font-bold text-[40px] mb-6">
        Our story
      </h1>
      <div class="">
        <p class="m-0 leading-9">
          In the past few years, I have been learning about blockchain
          and found that IPFS is a distributed system for storing and
          accessing files, websites, applications and data developed by
          Juan Benet.
        </p>
        <p class="m-0 leading-9">
          IPFS is an amazing technology that changes the way humans and
          computers communicate in a decentralized world. However,
          accessing and using this technology is still difficult for an
          average user.
        </p>
        <p class="m-0 leading-9">
          Why is it difficult? To store a file on IPFS in a
          decentralized network like Filecoin, you need some computer
          knowledge to install software on your desktop, buy some
          cryptocurrency, and learn how to interact with the network.
        </p>
        <p class="m-0 leading-9">
          For that reason, I have developed a solution to store files on
          IPFS in a simpler way but still keep secure called Deupload.
          Deupload lets you store files on IPFS with file sharing, file
          request, and team collaboration features with a seamless user
          experience like the tools you've come to know and love.
        </p>
        <p class="m-0 leading-9">
          I hope Deupload can improve the file storage experience on a
          decentralized network and realize IPFS's vision of a future
          decentralized world.
        </p>
      </div>
    </div>
  </div>

  <div class="row bg-blue text-white ">
    <div class="w-[80%] flex flex-col mx-auto py-8 px-6">
      <h1 class="text-23xl my-10 text-center">
        Our value
      </h1>
      <div class="row my-7 flex flex-row justify-around gap-12 items-center">
        <div class="col-span-6 flex flex-row flex-nowrap items-center justify-center gap-5">
          <div class="h-20 w-20 relative">
            <div class="absolute top-[0px] left-[0px] rounded-[50%] bg-white w-full h-full z-[1]"></div>
            <b class="absolute top-[26px] left-[22px] tracking-[-0.05em] leading-[36px] flex justify-center items-center font-bold text-9xl w-[35px] text-blue h-8 z-[2] ">01</b>
          </div>
          <div class="flex-1 flex flex-col items-start justify-start pt-[9px] px-0 pb-0 box-border min-w-[257px] max-w-full text-13xl text-white">
            <div class="self-stretch flex flex-col items-start justify-start gap-[8px_0px] max-w-full">
              <h1 class="m-0 self-stretch relative text-inherit tracking-[-0.04em] leading-[36px] font-bold font-inherit z-[1] mq450:text-lgi mq450:leading-[22px] mq1050:text-7xl mq1050:leading-[29px]">
                Make it exist
              </h1>
              <div class="w-[366px] h-16 relative text-base tracking-[-0.02em] leading-[24px] text-lavender inline-block shrink-0 max-w-full z-[1]">
                Our goal is to make decentralized storage accessible and
                easy to use for everyone.
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-6 flex flex-row flex-nowrap items-center justify-center gap-5">
          <div class="h-20 w-20 relative">
            <div class="absolute top-[0px] left-[0px] rounded-[50%] bg-white w-full h-full z-[1]"></div>
            <b class="absolute top-[26px] left-[22px] tracking-[-0.05em] leading-[36px] flex justify-center items-center font-bold text-9xl w-[35px] text-blue h-8 z-[2] ">02</b>
          </div>
          <div class="flex-1 flex flex-col items-start justify-start pt-[9px] px-0 pb-0 box-border min-w-[257px] max-w-full text-13xl text-white">
            <div class="self-stretch flex flex-col items-start justify-start gap-[8px_0px] max-w-full">
              <h1 class="m-0 self-stretch relative text-inherit tracking-[-0.04em] leading-[36px] font-bold font-inherit z-[1] mq450:text-lgi mq450:leading-[22px] mq1050:text-7xl mq1050:leading-[29px]">
                Make it useful
              </h1>
              <div class="w-[366px] h-16 relative text-base tracking-[-0.02em] leading-[24px] text-lavender inline-block shrink-0 max-w-full z-[1]">
                Our goal is to make decentralized storage accessible and
                easy to use for everyone.
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="row mt-7 mb-12 flex flex-row justify-around gap-12 items-center">
        <div class="col-span-6 flex flex-row flex-nowrap items-center justify-center gap-5">
          <div class="h-20 w-20 relative">
            <div class="absolute top-[0px] left-[0px] rounded-[50%] bg-white w-full h-full z-[1]"></div>
            <b class="absolute top-[26px] left-[22px] tracking-[-0.05em] leading-[36px] flex justify-center items-center font-bold text-9xl w-[35px] text-blue h-8 z-[2] ">03</b>
          </div>
          <div class="flex-1 flex flex-col items-start justify-start pt-[9px] px-0 pb-0 box-border min-w-[257px] max-w-full text-13xl text-white">
            <div class="self-stretch flex flex-col items-start justify-start gap-[8px_0px] max-w-full">
              <h1 class="m-0 self-stretch relative text-inherit tracking-[-0.04em] leading-[36px] font-bold font-inherit z-[1] mq450:text-lgi mq450:leading-[22px] mq1050:text-7xl mq1050:leading-[29px]">
                Make it simple
              </h1>
              <div class="w-[366px] h-16 relative text-base tracking-[-0.02em] leading-[24px] text-lavender inline-block shrink-0 max-w-full z-[1]">
                Our goal is to make decentralized storage accessible and
                easy to use for everyone.
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-6 flex flex-row flex-nowrap items-center justify-center gap-5">
          <div class="h-20 w-20 relative">
            <div class="absolute top-[0px] left-[0px] rounded-[50%] bg-white w-full h-full z-[1]"></div>
            <b class="absolute top-[26px] left-[22px] tracking-[-0.05em] leading-[36px] flex justify-center items-center font-bold text-9xl w-[35px] text-blue h-8 z-[2] ">04</b>
          </div>
          <div class="flex-1 flex flex-col items-start justify-start pt-[9px] px-0 pb-0 box-border min-w-[257px] max-w-full text-13xl text-white">
            <div class="self-stretch flex flex-col items-start justify-start gap-[8px_0px] max-w-full">
              <h1 class="m-0 self-stretch relative text-inherit tracking-[-0.04em] leading-[36px] font-bold font-inherit z-[1] mq450:text-lgi mq450:leading-[22px] mq1050:text-7xl mq1050:leading-[29px]">
                Make it worth
              </h1>
              <div class="w-[366px] h-16 relative text-base tracking-[-0.02em] leading-[24px] text-lavender inline-block shrink-0 max-w-full z-[1]">
                Our goal is to make decentralized storage accessible and
                easy to use for everyone.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

  <div class="row flex flex-col justify-center items-center my-7 w-[90%] mx-auto">
    <h1 class="text-23xl font-bold my-12">
      Get to know us
    </h1>
    <p class="mb-1 font-bold leading-9">
      Career Bridge is a 100% remote team. We believe that creative
      collaboration can happen anywhere
    </p>
    <p class="mb-5 font-bold leading-9">
      and want our team to work
      where they feel most comfortable and inspired.
    </p>

    <div class="grid my-12 flex-row items-start justify-start gap-[0px_24px] grid-cols-[repeat(6,_minmax(117px,_1fr))] mq450:grid-cols-[minmax(117px,_1fr)] mq1050:my-0 mq1050:mx-auto mq1050:grid-cols-[repeat(3,_minmax(117px,_203px))]">
      <img class="relative rounded-[50%] max-w-full overflow-hidden max-h-full object-cover min-h-[156px] mq450:w-full" alt="" src="/assets/images/avatar1.png"/>
      <img class="relative rounded-[50%] max-w-full overflow-hidden max-h-full object-cover min-h-[156px] mq450:w-full" alt="" src="/assets/images/avatar2.png"/>
      <img class="relative rounded-[50%] max-w-full overflow-hidden max-h-full object-cover min-h-[156px] mq450:w-full" alt="" src="/assets/images/avatar3.png"/>
      <img class="relative rounded-[50%] max-w-full overflow-hidden max-h-full object-cover min-h-[156px] mq450:w-full" alt="" src="/assets/images/avatar4.png"/>
      <img class="relative rounded-[50%] max-w-full overflow-hidden max-h-full object-cover min-h-[156px] mq450:w-full" alt="" src="/assets/images/avatar5.png"/>
      <img class="relative rounded-[50%] max-w-full overflow-hidden max-h-full object-cover min-h-[156px] mq450:w-full" alt="" src="/assets/images/avatar6.png"/>
    </div>

    <div class="flex mb-12 flex-row items-start justify-center gap-[0px_24px] max-w-full mq1050:flex-wrap">
      <img class="h-[156px] w-[156px] relative rounded-[50%] object-cover min-h-[156px]" alt="" src="/assets/images/avatar7.png"/>
      <img class="h-[156px] w-[156px] relative rounded-[50%] object-cover min-h-[156px]" alt="" src="/assets/images/avatar8.png"/>
      <img class="h-[156px] w-[156px] relative rounded-[50%] object-cover min-h-[156px]" alt="" src="/assets/images/avatar9.png"/>
      <img class="h-[156px] w-[156px] relative rounded-[50%] object-cover min-h-[156px]" alt="" src="/assets/images/avatar10.png"/>
      <img class="h-[156px] w-[156px] relative rounded-[50%] object-cover min-h-[156px]" alt="" src="/assets/images/avatar11.png"/>
    </div>
  </div>

  <div class="row flex flex-col justify-center items-center my-7  w-[90%] mx-auto">
    <h1 class=" leading-[64px] font-bold text-23xl mt-12 mb-5">
      Our vision
    </h1>
    <div class="text-center leading-9">
      <p>
        Our vision is that Career Bridge will democratize distributed data
        storage on a
      </p>
      <p>
        decentralized network in the next decade and empower
        everyone to escape the control
      </p>
      <p>
        of centralized data companies.
      </p>
    </div>

    <div class="flex mx-auto">
      <img src="assets/images/auth2.png" alt="" width="1200"/>
    </div>

  </div>

</div>
