<div class="container">
  <div class="row flex flex-row w-[90%] justify-start gap-12 rounded-lg my-9 items-center bg-lavender-100 mx-auto p-9">
    <div class="col-span-4  w-[200px]">
      <img class="flex items-center justify-center mx-auto" src="assets/images/leyton-logo.png" alt="" width="100" height=""/>
    </div>
    <div class="col-span-8  justify-center items-center">
      <h6 class="block mb-4  antialiased font-bold text-3xl leading-relaxed tracking-normal text-black uppercase">Titre du poste</h6>
      <h4 class="block mb-4  text-2xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">Description du poste</h4>
      <p class="block mb-4  antialiased font-normal leading-relaxed text-gray-700">Publié le : 01/01/2024 par : nom de Recruteur</p>
      <p class="block    antialiased font-normal leading-relaxed text-gray-700">Dernier Délai : 15/02/2024</p>
    </div>
  </div>

  <div class="row flex flex-col w-[90%] justify-start my-9  mx-auto">
    <h4 class="text-darkslateblue mb-5">Entreprise</h4>
    <p class="text-sm leading-9">
      Aujourd'hui présent sur 5 continents, le réseau LCI Éducation compte 23 campus d'enseignement supérieur et quelque 3000 employés
      qui forment chaque année plus de 17 000 étudiants à travers le monde. D'un pays à l'autre, LCI Éducation privilégie l'harmonisation
      de ses programmes ce qui permet une plus grande souplesse, un meilleur contrôle sur la qualité de ses services et un respect plus profond
      envers les diverses cultures côtoyées.
      La croissance rapide et soutenue de l'entreprise crée des opportunités! Vous avez la possibilité de vous joindre à une organisation
      mondiale en pleine croissance, leader dans son secteur, dont le siège social est situé au Québec. Vous vous joindrez à une équipe dynamique,
      humaine et unie, au sein d'une entreprise dont l'objectif principal est de permettre aux gens de se développer et d'atteindre leur plein potentiel.
      Vous aurez la chance de briller, de vous développer, d'élargir vos horizons.
    </p>
  </div>

  <div class="row flex flex-col w-[90%] justify-start my-9  mx-auto">
    <h4 class="text-darkslateblue mb-5">Poste</h4>
    <p class="text-sm leading-9">
      Relevant du Gestionnaire de projet SIRH, vous serez responsable de supporter les projets divers de notre système SIRH et à l’amélioration continue des processus. Vous agissez à titre d’analyste au sein de l’équipe et veillez au respect des politiques et des procédures.
    </p>

    <h5 class="text-md font-semibold my-3">Responsabilités:</h5>
    <p class="text-sm leading-9">
      · Gérer et entretenir le système SIRH, y compris la configuration, les mises à jour et la maintenance régulière.
    </p>
    <p class="text-sm leading-9">  · Assurer la sécurité des données et gérer les autorisations d'accès des utilisateurs.</p>
    <p class="text-sm leading-9"> · Collaborer avec l'équipe informatique pour résoudre les problèmes techniques et assurer la compatibilité avec d'autres systèmes de l'entreprise.  </p>

  </div>

  <button class="text-white mb-8 font-bold cursor-pointer [border:none] py-[20px] bg-blue mx-auto w-[500px] rounded-xl text-[15px] overflow-hidden shrink-0 flex flex-row items-center justify-center box-border whitespace-nowrap z-[1] hover:bg-blueviolet">Envoyer ma candidature</button>
</div>
