<section class="w-[1550px] flex flex-col items-start justify-start pt-0 px-5 pb-[193px] box-border gap-[60px_0px] max-w-full shrink-0 text-left text-13xl text-black font-sofia-pro lg:gap-[60px_0px] mq750:pb-[125px] mq750:box-border">
  <div class="self-stretch flex flex-row items-center justify-between max-w-full gap-[20px] mq1050:flex-wrap">
    <div class="w-[660px] flex flex-col items-start justify-start gap-[6px_0px] max-w-full">
      <h1 class="m-0 w-[343px] relative text-inherit tracking-[-0.04em] leading-[32px] font-bold font-inherit inline-block max-w-full mq450:text-lgi mq450:leading-[19px] mq1050:text-7xl mq1050:leading-[26px]">
        <p class="m-0">Prêt à commencer ?</p>
      </h1>
      <div class="self-stretch relative text-base tracking-[-0.02em] leading-[24px] text-lightslategray">
        <p class="m-0">
          Explorez les possibilités infinies sur notre plateforme de recrutement, votre tremplin vers l'avenir professionnel.
        </p>
      </div>
    </div>
    <div class="w-[178px] flex flex-col items-start justify-start pt-1.5 px-0 pb-0 box-border">
      <a routerLink="/register" class="cursor-pointer no-underline [border:none] p-[11px] bg-blue self-stretch rounded-xl overflow-hidden flex flex-row items-center justify-center whitespace-nowrap hover:bg-blueviolet">
        <b class="flex-1 relative text-base tracking-[-0.02em] leading-[150%] font-sofia-pro text-white text-center">Créer un compte</b>
      </a>
    </div>
  </div>
  <div class="self-stretch flex flex-row items-start justify-start gap-[0px_32px] max-w-full text-5xl text-white mq750:gap-[0px_32px] mq1050:flex-wrap">
    <div class="rounded-3xl bg-blue flex flex-col items-start justify-start pt-28 pb-[30px] pr-[34px] pl-8 box-border relative gap-[10px_0px] w-[775px] max-w-full mq450:min-w-full mq1050:flex-1">
      <div class="w-[359px] h-[289px] relative rounded-3xl bg-blue hidden max-w-full z-[0]"></div>
      <div class="flex flex-col items-start justify-start gap-[5px_0px]">
        <h3 class="m-0 relative text-inherit tracking-[-0.04em] leading-[32px] font-bold font-inherit z-[1] mq450:text-lgi mq450:leading-[26px]">
          Êtes-vous un professionnel ?
        </h3>
        <div class="w-[293px] relative text-base tracking-[-0.02em] leading-[24px] inline-block z-[1]">
          Absolument ! Notre plateforme est l'endroit idéal pour trouver des opportunités professionnelles passionnantes.
        </div>
      </div>
      <button class="cursor-pointer [border:none] p-0 bg-[transparent] w-16 my-0 mx-[!important] absolute top-[32px] left-[32px] flex flex-row items-center justify-center">
        <div class="h-16 flex-1 relative">
          <div class="absolute top-[0px] left-[0px] rounded-[50%] bg-white w-full h-full z-[1]"></div>
          <img
            class="absolute top-[14px] left-[16px] w-8 h-9 overflow-hidden z-[2]"
            alt=""
            src="/assets/images/user-t.png"
          />
        </div>
      </button>
      <div class="w-[196px] flex flex-row items-center justify-start text-mini">
        <div class="w-[74px] flex flex-col items-start justify-start py-0 px-0 box-border">
          <b class="w-[196px] relative tracking-[-0.02em] leading-[24px] inline-block z-[1]">Commencez maintenant</b>
        </div>
      </div>
    </div>
    <div class="flex-1 rounded-3xl bg-lavender-100 flex flex-row items-end justify-start pt-[15px] pb-[22px] pr-[53px] pl-8 box-border gap-[0px_42px] min-w-[478px] max-w-full text-blue mq750:flex-wrap mq750:gap-[0px_42px] mq750:pr-[26px] mq750:box-border mq750:min-w-full">
      <div class="h-[289px] w-[775px] relative rounded-3xl bg-lavender-100 hidden max-w-full"></div>
      <div class="flex-1 flex flex-col items-start justify-start pt-0 px-0 pb-2 box-border min-w-[231px] max-w-full">
        <div class="self-stretch flex flex-col items-start justify-start pt-20 px-0 pb-0 relative gap-[10px_0px]">
          <div class="self-stretch flex flex-col items-start justify-start gap-[5px_0px]">
            <h3 class="m-0 w-[255px] relative text-inherit tracking-[-0.04em] leading-[32px] font-bold font-inherit inline-block z-[1] mq450:text-lgi mq450:leading-[26px]">
              Êtes-vous un recruteur?
            </h3>
            <div class="w-[355px] relative text-base tracking-[-0.02em] leading-[24px] inline-block z-[1]">
              Tout à fait ! Notre plateforme offre une solution efficace pour trouver les talents dont vous avez besoin.
            </div>
          </div>
          <div class="w-[104px] flex flex-row items-center justify-start text-mini">
            <div class="flex-1 flex flex-col items-start justify-start py-0 px-0">
              <b class="w-[104px] relative tracking-[-0.02em] leading-[24px] inline-block z-[1]">Voir un plan</b>
            </div>

          </div>
          <button class="cursor-pointer [border:none] p-0 bg-[transparent] w-16 my-0 mx-[!important] absolute top-[0px] left-[0px] flex flex-row items-center justify-center">
            <div class="h-16 flex-1 relative">
              <div class="absolute top-[0px] left-[0px] rounded-[50%] bg-blue w-full h-full z-[1]"></div>
              <img
                class="absolute top-[16px] left-[16px] w-8 h-8 overflow-hidden z-[2]"
                alt=""
                src="/assets/images/buildings.png"
              />
            </div>
          </button>
        </div>
      </div>
      <img class="h-[252px] w-[254px] relative overflow-hidden shrink-0 z-[1] mq750:flex-1" alt="" src="/assets/images/get_ready.png"/>
    </div>
  </div>
</section>
