<section class="w-[100%]  flex flex-row items-center justify-center pt-2 px-3 box-border top-[0] z-[99]">
  <header class="flex-1 flex flex-row items-center justify-start py-[11px] pr-3.5 pl-[11px] box-border relative gap-[0px_24px] max-w-full text-center text-base text-dimgray font-sofia-pro">
    <div class="h-full w-full absolute my-0 mx-[!important] top-[0px] right-[0px] bottom-[0px] left-[0px] bg-white"></div>
    <div class="w-[187px] flex flex-col items-center justify-start py-0 pr-[18px] pl-0 box-border">
     <span class="relative leading-[150%] z-[1] font-righteous-regular text-blue text-3xl">CAREER.BRIDGE</span>
    </div>
    <div class="flex-1 flex flex-row items-center justify-center py-0 pr-[183px] pl-0 box-border max-w-full gap-[20px] mq450:pr-5 mq450:box-border mq750:pr-[91px] mq750:box-border mq1050:hidden">
      <a href="#" class="relative leading-[150%] z-[1] no-underline text-black">A propos de nous</a>
      <a href="#" class="relative leading-[150%] z-[1] no-underline text-black">Offres d'emplois</a>
      <a href="#" class="relative leading-[150%] whitespace-nowrap z-[1] no-underline text-black">Entreprises</a>
      <a href="#" class="relative leading-[150%] z-[1] no-underline text-black">Formations</a>
      <a href="#" class="relative leading-[150%] z-[1] no-underline text-black">Articles</a>
      <a href="#" class="relative leading-[150%] z-[1] no-underline text-black">Contactez-nous</a>
    </div>

    <a routerLink="/login" class="cursor-pointer p-[9px] no-underline bg-[transparent] w-36 rounded-xl box-border overflow-hidden shrink-0 flex flex-row items-center justify-center z-[1] border-[2px] border-solid border-gray-200 hover:bg-darkslategray-200 hover:box-border hover:border-[2px] hover:border-solid hover:border-darkslategray-100">
      <b class="w-auto relative text-base leading-[150%] inline-block font-sofia-pro text-gray-200 text-center shrink-0 whitespace-nowrap">Se connecter</b>
    </a>
    <button class="cursor-pointer [border:none] p-[9px] bg-blue w-[194px] rounded-xl overflow-hidden shrink-0 flex flex-row items-center justify-center box-border whitespace-nowrap z-[1] hover:bg-blueviolet">
      <b class="w-auto relative text-base tracking-[-0.03em] leading-[150%] inline-block font-sofia-pro text-white text-center shrink-0">Créer un compte </b>
    </button>
  </header>
</section>
