<section class="w-[100%] flex flex-col items-center justify-center pt-0 pb-[50px] box-border gap-[53px_0px] max-w-full shrink-0 text-center text-29xl font-sofia-pro mq450:pb-[116px] mq450:box-border mq750:gap-[53px_0px] mq1050:pb-[179px] mq1050:box-border">
  <div class="self-stretch flex flex-col items-center justify-start gap-[6px_0px] max-w-full">
    <h1 class="m-0 self-stretch relative text-inherit tracking-[-0.04em] leading-[64px] font-bold font-inherit mq450:text-10xl mq450:leading-[38px] mq1050:text-19xl mq1050:leading-[51px]">
      Recrutement de qualité. Respect de la vie privée. Engagement personnalisé.
    </h1>
    <div class="w-[825px] relative text-lg tracking-[-0.02em] leading-[28px] text-lightslategray inline-block max-w-full">
      Optez pour un recrutement de qualité supérieure tout en préservant la confidentialité de vos données. Notre engagement personnalisé vous garantit une expérience unique et centrée sur vos besoins.
    </div>
  </div>
  <div class="self-stretch flex flex-row flex-wrap items-start justify-start py-0 pr-px pl-0 box-border gap-[0px_23px] max-w-full text-left text-9xl text-white">
    <div class="flex-1 h-[380px] rounded-3xl bg-darkslateblue shadow-[0px_4px_24px_rgba(0,_0,_0,_0.02)] flex flex-col items-start justify-start py-12 pr-[49px] pl-[47px] box-border gap-[30px_0px] min-w-[269px] max-w-full mq450:gap-[30px_0px] mq450:py-[31px] mq450:px-5 mq450:box-border">
      <div class="w-[359px] h-[395px] relative rounded-3xl bg-darkslateblue shadow-[0px_4px_24px_rgba(0,_0,_0,_0.02)] hidden max-w-full"></div>
      <button class="cursor-pointer [border:none] p-0 bg-[transparent] w-20 flex flex-row items-center justify-center">
        <div class="h-20 flex-1 relative">
          <div class="absolute top-[0px] left-[0px] rounded-[50%] bg-lavender-100 w-full h-full z-[1]"></div>
          <img
            class="absolute top-[21px] left-[21px] w-[38px] h-[38px] overflow-hidden z-[2]"
            alt=""
            src="/assets/images/block.png"
          />
        </div>
      </button>
      <div class="self-stretch flex flex-col items-start justify-start gap-[4px_0px]">
        <h2 class="m-0 relative text-inherit tracking-[-0.04em] leading-[32px] font-bold font-inherit z-[1] mq450:text-3xl mq450:leading-[26px]">
          Recrutement
        </h2>
        <div class="w-[263px] pt-[10px] relative text-base tracking-[-0.02em] leading-[24px] text-lavender-100 inline-block z-[1]">
          Nous nous engageons à vous offrir des candidats de qualité, correspondant parfaitement à vos besoins et à votre culture d'entreprise.
        </div>
      </div>
    </div>
    <div class="flex-1 h-[380px] rounded-3xl bg-darkslateblue shadow-[0px_4px_24px_rgba(0,_0,_0,_0.02)] flex flex-col items-center justify-start pt-40 pb-12 pr-12 pl-[47px] box-border relative gap-[28px_0px] min-w-[269px] max-w-full mq450:pt-[104px] mq450:px-5 mq450:pb-[31px] mq450:box-border">
      <div class="w-[359px] h-[395px] relative rounded-3xl bg-blue shadow-[0px_4px_24px_rgba(0,_0,_0,_0.02)] hidden max-w-full z-[0]"></div>
      <div class="self-stretch flex flex-col items-start justify-start gap-[7px_0px]">
        <h2 class="m-0 relative text-inherit tracking-[-0.04em] leading-[32px] font-bold font-inherit z-[1] mq450:text-3xl mq450:leading-[26px]">
          Confidentialité
        </h2>
        <div class="w-[263px] pt-[10px]  relative text-base tracking-[-0.02em] leading-[24px] text-lavender-100 inline-block z-[1]">
          Le respect de la vie privé de vos données est notre priorité absolue. Nous protégeons vos informations personnelles avec la plus grande rigueur.
        </div>
      </div>
      <button class="cursor-pointer [border:none] p-0 bg-[transparent] w-20 my-0 mx-[!important] absolute top-[48px] left-[47px] flex flex-row items-center justify-center">
        <div class="h-20 flex-1 relative">
          <div class="absolute top-[0px] left-[0px] rounded-[50%] bg-lavender-100 w-full h-full z-[1]"></div>
          <img
            class="absolute top-[21px] left-[21px] w-[38px] h-[38px] overflow-hidden z-[2]"
            alt=""
            src="/assets/images/shield-keyhole.png"
          />
        </div>
      </button>
    </div>
    <div class="flex-1 h-[380px] rounded-3xl bg-darkslateblue shadow-[0px_4px_24px_rgba(0,_0,_0,_0.02)] flex flex-col items-start justify-start py-12 pr-[45px] pl-[49px] box-border gap-[30px_0px] min-w-[269px] max-w-full mq450:gap-[30px_0px] mq450:py-[31px] mq450:px-5 mq450:box-border">
      <div class="w-[359px] h-[395px] relative rounded-3xl bg-blue shadow-[0px_4px_24px_rgba(0,_0,_0,_0.02)] hidden max-w-full"></div>
      <button class="cursor-pointer [border:none] p-0 bg-[transparent] w-20 flex flex-row items-center justify-center">
        <div class="h-20 flex-1 relative">
          <div class="absolute top-[0px] left-[0px] rounded-[50%] bg-lavender-100 w-full h-full z-[1]"></div>
          <img
            class="absolute top-[18px] left-[21px] w-[38px] h-11 overflow-hidden z-[2]"
            alt=""
            src="/assets/images/circle-nodes.png"
          />
        </div>
      </button>
      <div class="self-stretch flex flex-col items-start justify-start gap-[7px_0px]">
        <h2 class="m-0 self-stretch relative text-inherit tracking-[-0.04em] leading-[32px] font-bold font-inherit z-[1] mq450:text-3xl mq450:leading-[26px]">
          Engagement
        </h2>
        <div class="w-[264px] pt-[10px]  relative text-base tracking-[-0.02em] leading-[24px] text-lavender-100 inline-block z-[1]">
          Chaque interaction avec notre équipe est unique et adaptée à vos besoins spécifiques. Nous nous engageons à vous offrir un service personnalisé et attentif à chaque étape du processus de recrutement.
        </div>
      </div>
    </div>
  </div>
</section>
