<div class="container font-sofia-pro">
  <div class="row relative items-center justify-center flex flex-col mx-auto bg-lightcyan h-[530px]">

    <div class="w-[1070px] text-[28px] font-bold text-center pb-9">
      <h1 class="">
        Building the world’s best IPFS Storage powered by decentralized
        network.
      </h1>
    </div>
    <div class="font-medium w-[850px] text-center mb-9">
      <p class="mb-3">
        We make decentralized file storage on IPFS as simple as using
        the tools you love and interoperable
      </p>
      <p>
        via API with developer-friendly documentation.
      </p>
    </div>
    <div class="w-full pb-[130px]">
      <form class="row w-[90%] flex flex-row mx-auto justify-center gap-4 items-center">
        <div class="col-span-5 w-[450px]">
          <input class="appearance-none  w-full  rounded-lg py-4 px-4" id="job-title" type="text" placeholder="Veuillez Saisir le Titre du poste ">
        </div>
        <div class="col-span-5 w-[450px]">
          <input class="appearance-none  w-full rounded-lg py-4 px-4" id="job-city" type="text" placeholder="Veuillez entrer le nom de la ville souhaitable">
        </div>
        <div class="col-span-2 w-[300px]">
          <button class="bg-blue w-full rounded-lg hover:bg-blueviolet text-white font-bold  px-4 py-4" type="submit">Rechercher</button>
        </div>

      </form>
    </div>

  </div>
  <div class="flex items-center">
      <img src="assets/images/job-offer.png" alt="" class="absolute top-[415px] left-[135px] w-[1600px] flex items-center justify-center"/>
  </div>

  <div class="row flex flex-row justify-between gap-12 mt-[150px]  mb-9 w-[90%] mx-auto">
    <div class="col-span-4 w-[600px] flex flex-col py-9 px-6 rounded-l">
      <p class=" font-bold text-3xl"> Filtrer Votre Recherche</p>
      <div class="mt-5">
        <label for="title">Titre du poste :</label>
        <input class="mt-2 appearance-none border border-black  w-full  rounded-lg py-4 px-4" id="title" type="text" placeholder="Ex : Déeloppeur Full Stack ">
      </div>

      <div class="mt-5">
        <label for="company_name">Nom d'entreprise :</label>
        <input class="mt-2 appearance-none border border-black  w-full  rounded-lg py-4 px-4" id="company_name" type="text" placeholder="Ex : Attijari WafaBank ">
      </div>

      <div class="mt-5">
        <label for="job_city">Ville :</label>
        <input class="mt-2 appearance-none border border-black  w-full  rounded-lg py-4 px-4" id="job_city" type="text" placeholder="Ex : Casablanca ">
      </div>

      <div class="mt-5">
        <label for="job_country">Pays :</label>
        <input class="mt-2 appearance-none border border-black  w-full  rounded-lg py-4 px-4" id="job_country" type="text" placeholder="Ex : Maroc ">
      </div>
    </div>
    <div class="col-span-6  flex-col w-[100%]">
      <a href="#" class="relative no-underline text-black mb-8 flex bg-clip-border rounded-xl bg-white  w-full flex-row" style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;">
        <div class="relative flex items-center justify-center w-[300px] m-0 overflow-hidden text-gray-700 bg-white rounded-r-none bg-clip-border rounded-xl shrink-0">
          <img src="/assets/images/leyton-logo.png"
            alt="card-image" class="object-fill max-w-[150px]"/>
        </div>
        <div class="px-6 py-9 w-[80%]">
          <h6 class="block mb-4   font-bold text-3xl leading-relaxed tracking-normal text-black uppercase">Titre du poste</h6>
          <h4 class="block mb-4  text-2xl  font-semibold leading-snug tracking-normal text-blue-gray-900">Description du poste</h4>
          <p class="block mb-4   font-normal leading-relaxed text-gray-700">Publié le : 01/01/2024 par : nom de Recruteur</p>
          <p class="block  font-normal leading-relaxed text-gray-700">Dernier Délai : 15/02/2024</p>

        </div>
      </a>
      <a href="#" class="relative no-underline text-black mb-8 flex bg-clip-border rounded-xl bg-white  w-full flex-row" style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;">
        <div class="relative flex items-center justify-center w-[300px] m-0 overflow-hidden text-gray-700 bg-white rounded-r-none bg-clip-border rounded-xl shrink-0">
          <img src="/assets/images/SGMA.png"
            alt="card-image" class="object-fill max-w-[150px]"/>
        </div>
        <div class="px-6 py-9 w-[80%]">
          <h6 class="block mb-4  antialiased font-bold text-3xl leading-relaxed tracking-normal text-black uppercase">Titre du poste</h6>
          <h4 class="block mb-4  text-2xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">Description du poste</h4>
          <p class="block mb-4  antialiased font-normal leading-relaxed text-gray-700">Publié le : 01/01/2024 par : nom de Recruteur</p>
          <p class="block    antialiased font-normal leading-relaxed text-gray-700">Dernier Délai : 15/02/2024</p>

        </div>
      </a>
      <a href="#" class="relative no-underline text-black mb-8 flex bg-clip-border rounded-xl bg-white  w-full flex-row" style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;">
        <div class="relative flex items-center justify-center w-[300px] m-0 overflow-hidden text-gray-700 bg-white rounded-r-none bg-clip-border rounded-xl shrink-0">
          <img src="/assets/images/Attijariwafa.png"
            alt="card-image" class="object-fill max-w-[150px]"/>
        </div>
        <div class="px-6 py-9 w-[80%]">
          <h6 class="block mb-4  antialiased font-bold text-3xl leading-relaxed tracking-normal text-black uppercase">Titre du poste</h6>
          <h4 class="block mb-4  text-2xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">Description du poste</h4>
          <p class="block mb-4  antialiased font-normal leading-relaxed text-gray-700">Publié le : 01/01/2024 par : nom de Recruteur</p>
          <p class="block    antialiased font-normal leading-relaxed text-gray-700">Dernier Délai : 15/02/2024</p>

        </div>
      </a>

    </div>


  </div>


</div>
