<div class="container ">

  <div class="row my-7 w-[90%] flex flex-row justify-center items-center mx-auto gap-[150px]">

    <img class="flex justify-start items-start" src="assets/images/401.png" alt="" width="800"/>
    <div class="flex flex-col w-[1000px]">
      <h1 class="leading-9 mb-6 mt-3">Sorry ! You Have Not the Authority For this Page .</h1>
      <p class="mb-5 text-center">We are sorry! The page you request can not be found.</p>
      <p class="mb-8 text-center">Please go back to the homepage.</p>
      <a routerLink="/home" class="no-underline mx-auto bg-blue py-4 px-5 flex flex-row justify-center gap-4 items-center rounded-xl w-[400px]">
        <div class="text-white font-semibold">Go Home</div>
        <div>
          <img src="assets/images/house1.png" alt=""/>
        </div>
      </a>
    </div>


  </div>

</div>
