  <div class="flex flex-col w-[250px] bg-white h-[94vh]  overflow-hidden" style=" box-shadow: 5px 0 3px -3px #00000030;">
    <ul class="flex flex-col py-4 ps-3" >
      <li>
        <a routerLink="/dashboard/welcome" class=" no-underline flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-home"></i></span>
          <span class="text-sm font-medium">Dashboard</span>
        </a>
      </li>
      <li>
        <a  routerLink="/dashboard/users" class="no-underline flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class='bx bx-group'></i></span>
          <span class="text-sm font-medium">Utilisateurs</span>
        </a>
      </li>
      <li>
        <a href="#" class="no-underline flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class='bx bx-task'></i></span>
          <span class="text-sm font-medium">Roles et Permissions</span>
        </a>
      </li>
      <li>
        <a href="#" class="no-underline flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class='bx bx-book-bookmark'></i></span>
          <span class="text-sm font-medium">Formations</span>
        </a>
      </li>
      <li>
        <a href="#" class="no-underline flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class='bx bx-briefcase-alt-2' ></i></span>
          <span class="text-sm font-medium">Offres d'Emplois</span>
        </a>
      </li>
      <li>
        <a href="#" class="no-underline flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class='bx bx-message-alt-check'></i></span>
          <span class="text-sm font-medium">Candidatures</span>
        </a>
      </li>
      <li>
        <a href="#" class="no-underline flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class='bx bxs-building-house'></i></span>
          <span class="text-sm font-medium">Entreprises</span>
        </a>
      </li>
      <li>
        <a href="#" class="no-underline flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class='bx bx-message-square-dots'></i></span>
          <span class="text-sm font-medium">Messages</span>
          <span class="ml-auto mr-4 text-sm bg-red-100 rounded-full px-3 py-px text-red-500">5</span>
        </a>
      </li>
    </ul>
  </div>
