<div class="container">
  <div class="row py-8  flex items-center  flex-row bg-beigeWhite">
    <input type="text" id="simple-search" class="font-bold rounded-xl w-[1000px] block ps-7 ms-[100px] px-4 py-3  bg-white"  placeholder="Veuillez saisir le nom de formation souhaitable" />
    <i class="absolute left-[1070px] bx bx-search"></i>

  </div>
  <div class=" ps-[100px] mb-9 pb-8  flex flex-wrap gap-2  bg-beigeWhite">
    <a href="#" class="no-underline text-black bg-sky-300 hover:bg-sky-500 py-1 px-4 rounded-lg text-sm">Technology</a>
    <a href="#" class="no-underline text-black bg-green-200 hover:bg-green-300 py-1 px-4 rounded-lg text-sm">Programming</a>
    <a href="#" class="no-underline text-black bg-yellow-200 hover:bg-yellow-300 py-1 px-4 rounded-lg text-sm">Web Development</a>
    <a href="#" class="no-underline text-black bg-indigo-200 hover:bg-indigo-300 py-1 px-4 rounded-lg text-sm">Design</a>
    <a href="#" class="no-underline text-black bg-purple-200 hover:bg-purple-300 py-1 px-4 rounded-lg text-sm">AI</a>
    <a href="#" class="no-underline text-black bg-pink-200 hover:bg-pink-300 py-1 px-4 rounded-lg text-sm">Machine Learning</a>
  </div>
  <div class="row mx-auto mb-16 w-[90%] flex flex-row  gap-9">
    <div class="col-span-7 flex flex-col">
      <h2 class="font-normal text-zinc-500 mb-4"> 1 Résultas pour</h2>
      <h1 class="mb-8">“ Nom de la formation ”</h1>
      <div class="self-stretch rounded-3xl bg-white mb-9 flex flex-row items-start justify-start py-4 pr-3 pl-5 box-border gap-[16px] max-w-full mq750:flex-wrap" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;">
          <div class="h-72 w-[742px] relative rounded-3xl bg-white shadow-[0px_4px_24px_rgba(0,_0,_0,_0.02)] hidden max-w-full"></div>
            <img
              class="h-64 w-64 relative rounded-2xl object-cover z-[1] mq750:flex-1"
              alt=""
              src="/assets/images/Rectangle%20598.png"
            />
          <div class="flex-1 flex flex-col items-start justify-start pt-[5px] px-0 pb-0 box-border min-w-[285px] max-w-full">
            <div class="self-stretch flex flex-col items-start justify-start gap-[57px] max-w-full mq450:gap-[28px_57px]">
              <div class="self-stretch flex flex-col items-start justify-start gap-[8.5px]">
                <div class="w-[233px] relative tracking-[-0.02em] leading-[22px] uppercase inline-block z-[1]">
                  productivity
                </div>
                <h2 class="m-0 self-stretch relative text-5xl tracking-[-0.03em] leading-[32px] font-bold text-black z-[1] mq450:text-lgi mq450:leading-[26px]">
                  Begin again: how a returnship could help you
                  relaunch your career
                </h2>
                <div class="self-stretch relative tracking-[-0.04em] leading-[20px] text-lightslategray z-[1]">
                  There's no "single source of truth" for how you're
                  perceived in the workplace. 360-degree feedback
                  might be the next best thing.
                </div>
              </div>
              <div class="w-[800px] flex flex-row items-end justify-between gap-[20px] max-w-full text-darkslategray-200 mq450:flex-wrap">
                <div class="w-[165px] flex flex-row items-end justify-start gap-[8px]">
                  <img
                    class="h-[42px] w-[42px] relative rounded-[50%] object-cover z-[1]"
                    alt=""
                    src="/assets/images/Ellipse%20166.png"
                  />
                  <div class="flex-1 flex flex-col items-start justify-start pt-0 px-0 pb-px">
                    <div class="self-stretch flex flex-col items-start justify-start gap-[2px]">
                      <b class="self-stretch relative tracking-[-0.02em] leading-[18px] z-[1]">
                        <p class="m-0 text-darkslateblue">Elliot Alderson</p>
                      </b>
                      <div class="self-stretch relative text-xs tracking-[-0.02em] leading-[16px] text-lightslategray z-[1]">
                        February 19, 2023
                      </div>
                    </div>
                  </div>
                </div>
                <a href="#" class="no-underline flex flex-row items-start justify-start gap-[6px] text-blue font-bold">
                  <div class="relative tracking-[-0.04em] leading-[20px] z-[1]">
                    Read more
                  </div>
                  <div class="flex flex-col items-start justify-start pt-[3px] px-0 pb-0">
                    <img
                      class="w-3.5 h-3.5 relative overflow-hidden shrink-0 z-[1]"
                      alt=""
                      src="/assets/images/arrow-right-long%208.png"
                    />
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      <div class=" flex flex-row items-start justify-center py-0 px-5 box-border max-w-full">
        <button class="cursor-pointer [border:none] py-3 px-[22px] bg-blue w-[202px] rounded-xl overflow-hidden shrink-0 flex flex-row items-start justify-start box-border whitespace-nowrap hover:bg-blueviolet">
          <b class="flex-1 relative text-lg tracking-[-0.02em] leading-[150%] font-sofia-pro text-white text-center">Load more</b>
        </button>
      </div>
    </div>

    <div class="col-span-5 flex flex-col ">
      <h2 class="font-normal text-zinc-500 mb-4"> Meilleurs Formations</h2>
      <h1 class="mb-8 uppercase">à l'instant</h1>
      <div class="self-stretch flex flex-row items-start justify-start relative gap-[16px] mq450:flex-wrap" style="">
        <div class="h-full w-full absolute !m-[0] top-[0px] bottom-[0px] left-[0px] rounded-xl"></div>
        <div class="h-[114px] w-[114px] relative rounded-xl z-[1] flex items-center justify-center">
          <img class="h-full w-full z-[1] object-contain absolute left-[0px] top-[4px] [transform:scale(1.421)] mq450:flex-1"
            alt=""
            src="/assets/images/posted-now.png"
          />
        </div>
        <div class="flex-1 flex flex-col items-start justify-start pt-[7px] px-0 pb-0 box-border min-w-[150px]">
          <div class="self-stretch flex flex-col items-start justify-start">
            <h3 class="m-0 self-stretch h-20 relative text-inherit tracking-[-0.04em] leading-[28px] font-bold font-inherit inline-block shrink-0 z-[1] mq450:text-base mq450:leading-[22px]">
              How to advocate for yourself at work
            </h3>
            <div class="flex flex-row items-start justify-start py-0 px-0.5 text-sm text-lightslategray">
              <div class="flex flex-row items-end justify-start gap-[16px]">
                <div class="flex flex-row items-start justify-start gap-[4px]">
                  <img
                    class="h-[18px] w-4 relative overflow-hidden shrink-0 z-[1]"
                    alt=""
                    src="/assets/images/chart-simple%202.png"
                  />
                  <div class="flex flex-col items-start justify-start pt-0.5 px-0 pb-0">
                    <div class="relative tracking-[-0.02em] leading-[18px] z-[1]">
                      219
                    </div>
                  </div>
                </div>
                <div class="flex flex-row items-start justify-start gap-[4px]">
                  <img
                    class="h-[18px] w-4 relative overflow-hidden shrink-0 z-[1]"
                    alt=""
                    src="/assets/images/clock-three%201.png"
                  />
                  <div class="relative tracking-[-0.02em] leading-[18px] z-[1]">
                    2 min
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
