<section class="w-full pb-[193px] font-sofia-pro">
  <div class="w-full self-stretch rounded-3xl bg-lavender-100 shadow-[0px_4px_24px_rgba(0,_0,_0,_0.02)] flex flex-row items-center justify-start pt-[23px] pb-[11px] pr-[45px] pl-[68px] gap-[0px_39px] max-w-full z-[2] text-left lg:pl-[34px] lg:pr-[22px] lg:box-border mq750:gap-[0px_39px] mq1050:flex-wrap">
    <div class="h-[528px] w-[100%] relative rounded-3xl bg-lavender-100 shadow-[0px_4px_24px_rgba(0,_0,_0,_0.02)] hidden max-w-full"></div>
    <div class="flex flex-col items-start justify-start pt-0 px-0 pb-[11px] box-border min-w-[456px] max-w-full mq750:min-w-full mq1050:flex-1">
      <div class="flex flex-col items-start justify-start gap-[24px_0px] max-w-full">
        <div class="flex flex-col items-start justify-start gap-[16px_0px]">
          <h1 class="m-0 w-[100%] text-[25px] relative text-inherit tracking-[-0.05em] leading-[56px] font-bold font-inherit inline-block z-[3] mq450:text-6xl mq450:leading-[34px] mq1050:text-15xl mq1050:leading-[45px]">
            <span >Parcours de Formation : </span>
            <span class="text-gray-200 whitespace-pre-wrap">Explorez Nos Programmes de Développement Professionnel</span>
          </h1>
          <div class="w-[800px] h-[170px] relative text-lg tracking-[-0.02em] leading-[32px] text-lightslategray inline-block shrink-0 z-[3]">
            Découvrez notre vaste sélection de formations conçues pour répondre à vos besoins professionnels les plus spécifiques.
            Que vous soyez à la recherche de compétences techniques pointues ou de développement personnel, nos programmes de formation
            sont conçus pour vous aider à atteindre vos objectifs professionnels. Explorez des cours interactifs, des ateliers pratiques
            et des ressources pédagogiques de haute qualité, le tout conçu pour vous aider à progresser dans votre carrière avec confiance et compétence.
          </div>
        </div>
        <div class="w-[364px] flex flex-row items-center justify-center gap-[0px_31px] max-w-full mq450:flex-wrap mq450:gap-[0px_31px]">
          <button class="cursor-pointer [border:none] p-[13px] bg-blue flex-1 rounded-xl overflow-hidden flex flex-row items-center justify-center box-border min-w-[107px] whitespace-nowrap z-[3] hover:bg-blueviolet">
            <b class="relative text-base tracking-[-0.02em] leading-[150%] font-sofia-pro text-white text-center shrink-0">Commencez maintenant !</b>
          </button>
        </div>
      </div>
    </div>
    <img
      class="h-[494.9px] flex-1 relative max-w-full overflow-hidden min-w-[600px] z-[3]"
      alt=""
      src="/assets/images/formation.png"
    />
  </div>
</section>
