<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <title>Career Bridge - Home Page</title>
  </head>
  <body class="w-[100%]">
    <div class="w-[100%] relative bg-white overflow-hidden flex flex-col items-center justify-start tracking-[normal]">
      <app-header></app-header>
      <app-main></app-main>
      <app-banner></app-banner>
      <app-fomation></app-fomation>
      <app-get-ready></app-get-ready>
    </div>
  </body>
</html>
